@import url(https://dablulite.github.io/Cyan/import.css);
:root {
	--cyan-background-primary: hsla(0deg 5% var(--cyan-background-lightness) / 25%);
	--cyan-elevation-shadow: 0 0 0 1px rgba(250, 66, 171, 0.822), 0 2px 10px 0 rgb(250, 66, 171 / 100%);
	--cyan-font: 'Montserrat', 'Open Sans';
	--cyan-background-img: url(https://i.imgur.com/57153cw.png);
	/*for a 4K version of the background use: url(https://dablulite.github.io/Cyan/cyan-waves-4k.png)*/
	--window-margin: 10;
	--window-border-radius: 10px;
	--cyan-accent-color: #fa42ab;
	--cyan-blur-radius: 10px;
}
