@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato&family=Roboto:wght@500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.7rem;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
