body {
    font-family: "Jetbrains Mono", monospace;
    background-color: #191919;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #c5c5c5;
    overflow: hidden;
}

html.noscroll, body.noscroll {
    overflow: hidden;
}

.nav {
    position: absolute;
    top: 0.3rem;
    left: 0.3rem;
    padding: 10px;
    width: 200px;
}

.nav a {
    display: block;
    color: #c5c5c5;
    text-decoration: none;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: #666;
}

.nav a:active {
    animation: buttonPress 0.3s linear;
}

.content {
    text-align: center;
}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    border-color: #c5c5c5;
    border-style: solid;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.1rem;
    background-color: #222;
    color: #c5c5c5;
    text-align: center;
}

#changeScheme {
    padding: 8px 16px;
    background-color: #222;
    color: #c5c5c5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Jetbrains Mono", monospace;
}

#one:hover, #two:hover, #three:hover, #four:hover {
    color: transparent;
    background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}



/* ANIMS */

@keyframes rainbow_animation {
    0%, 100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

@keyframes buttonPress {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.75);
    }

    100% {
        transform: scale(1);
    }
}