@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  min-height:100vh;
  background: #131313;
  overflow: hidden;
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  position: relative;
  display:flex;
  height:530px;
  max-width: 45rem;
  background-color:  #1f1f1f;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction:column;
  text-align:center;
  border:2px solid  rgb(250, 88, 128);
  overflow:hidden;
  transition:.6s;
  box-shadow:0px 0px  100px rgba(250, 88, 242, 0.15);
}

.text {
  color:#ffdbe7;
  font-family: 'Roboto', sans-serif;
  font-weight:100;
  font-size:20px;
  width:500px;
  line-height:25px;
  opacity:1;
  width:85vw;
}

.clickme {
    font-size: 25px;
    font-family:roboto;
}

button {
  transform:translatey(200px);
  transition:0s;
  opacity:1;
  width:110px;
  height:38px;
  border-radius:40px;
  font-size:15px;
  font-family:roboto;
  text-transform:uppercase;
  font-weight:300;
  letter-spacing:1px;
  color:rgb(0, 0, 0);
  background-color: #ff80a6;
  background-image: linear-gradient(315deg, #f90b8e 0%, #fe4860 74%);
  border:none;
  cursor:pointer;
}

.wrapper {
  display: inline-block;
  overflow-wrap: break-word;
}

button:active {
  color:#f90b8e;
}
/*@keyframes scale
{
0%{transform:scale(100%) translateY(100px)}
50%{transform:scale(103%) translateY(100px)}
100%{transform:scale(100%) translateY(100px)}
}
*/

@media all and (max-width: 675px) and (min-width: 280px) {
  .wrapper {
    display: inline-block;
    overflow-wrap: break-word;
  }
}

.bottomrighttext {
  position: absolute;
  color: white;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  bottom: 0.5%;
  right: 1%;
}

button:hover {
  background-image: linear-gradient(315deg, #fe4885 0%, #f90b46 74%);
}

.buttonleft {
  transform:translatey(0px);
  transition:0s;
  opacity:1;
  width:110px;
  height:38px;
  border-radius: 100px;
  font-size:15px;
  font-family:roboto;
  text-transform:uppercase;
  font-weight:400;
  letter-spacing:1px;
  color:rgb(255, 255, 255);
  background-color: #ff80a6;
  background-image: linear-gradient(315deg, #f90b8e 0%, #fe4860 74%);
  border:none;
  cursor:pointer;
}

a {
  text-decoration: none;
  color: rgb(255, 75, 105);
}

a:visited {
  color: rgb(255, 75, 105);
}

a:hover {
  color: rgb(255, 111, 255);
}
