@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    background-color: #ea0a8e;
}

img {
    background-color: rgb(27, 27, 27);
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    color: white;
    font-family: roboto;
}

h2 {
    text-align: center;
    color: white;
    font-family: roboto;
}